<%- include('../components/headAdmin') %>
    <%- include('../components/dashboardMenu') %>
    <section class="dashboard">
        <section id="dashboard-header" class="dashboard-header"></section>
    </section>

<%- include('../components/footer') %>