<button aria-label="Dashboard Menu Open Button" id="dashboard-popup" class="dashboard-popup">
    <i class="fa-solid fa-plus"></i>
</button>
<div id="dashboard-overlay" class="dashboard-overlay"></div>
<div id="dashboard-menu" class="dashboard-menu"></div>