<header>
    <nav class="nav">
        <a href="/">
            <div class="brand">
                <span><i class="fa-brands fa-cotton-bureau"></i></span>
                <p>Clothez</p>
            </div>
        </a>
        <ul class="page-links">
            <li class="show-categories-nav">
                <a href="/listings/mens">MEN</a>
                <div class="categories-nav">
                    <ul>
                        <li><a href="/listings/mens#shirts">SHIRTS</a></li>
                        <li><a href="/listings/mens#pants">PANTS</a></li>
                    </ul>
                </div>
            </li>
            <li class="show-categories-nav"> 
                <a href="/listings/womens">WOMEN</a>
                <div class="categories-nav">
                    <ul>
                        <li><a href="/listings/womens#tops">TOPS</a></li>
                        <li><a href="/listings/womens#jackets">JACKETS</a></li>
                        <li><a href="/listings/womens#skirts">SKIRTS</a></li>
                        <li><a href="/listings/womens#pants">PANTS</a></li>
                        <li><a href="/listings/womens#shoes">SHOES</a></li>
                        <li><a href="/listings/womens#socks">SOCKS</a></li>
                    </ul>
                </div>
            </li>
            <li class="show-categories-nav">
                <a href="/listings/unisex">UNISEX</a>
                <div class="categories-nav">
                    <ul>
                        <li><a href="/listings/unisex#pants">PANTS</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="search">
            <button type="button" aria-label="Sidebar Open Button" class="sidebar-open-btn">
                <i class="fa-solid fa-bars-staggered"></i>
            </button>
            <form class="search-form"></form>
        </div>
        <div id="header-other" class="header-other"></div>
    </nav>
    <div class="search-m">
        <button type="submit" aria-label="Sidebar Open Button" id="sidebar-open-btn" class="sidebar-open-btn">
            <i class="fa-solid fa-bars-staggered"></i>
        </button>
        <form class="search-form"></form>
    </div>
</header>